body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.column {
  flex: 50%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #282c34;
  color: white;
  margin: 0 auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.form-container input[type=text], .form-container input[type=password] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

.form-container .btn {
  background-color: #1DB954;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

.form-container .btn:hover, .open-button:hover {
  background-color: #1ed760;
}

.home {
  background: linear-gradient(45deg, rgb(25, 24, 24), 60%, #1ed760);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

img {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.landing-button {
  display: inline-block;
  background-color: #1DB954;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 12px 20px;
  font-size: 18px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.landing-button:hover {
  background-color: #1ed760;
}

.landing-container {
  background-color: #fff;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.landing-description {
  color: #000;
  font-size: 16px;
  margin-bottom: 30px;
}

.landing-heading {
  color: #000;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

.match {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  height: 15%;
  width: 80%;
  background: transparent;
  color: #191414;
  margin: 15px;
  padding: 5px;
}

.match-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: linear-gradient(45deg, rgb(25, 24, 24), 60%, #1ed760);
  margin: 0 auto;
  padding: 50;
}

.match-pfp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  background-color: transparent;
  margin: 0 auto;
  padding-left: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 25px;
}

.match-pfp-img {
  width: 100px;
  height: 100px;
  object-fit: scale-down;
  border-radius: 50%;
}

.match-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #282c34;
  margin: 0 auto;
}

.match-profile-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #282c34;
  margin: 0 auto;
}

.navbar {
  display: flex;
  padding: 20px;
  align-items: center;
  height: 60px;
  background-color: rgb(25, 24, 24);
  color: white;
  margin: 0 auto;
}

.navbar .h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
  color: #1DB954;
  text-decoration: none;
}

.navbar .links{
  margin-left: auto;
}

.navbar .link{
  color: #1DB954;
  text-decoration: none;
  padding: 0 15px;
}

.personal-details {
  display: flex;
  padding: 50px;
  text-decoration: none;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(45deg, rgb(25, 24, 24), 60%, #1ed760);
  color: white;
  margin: 0 auto;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 90%;
  background-color: white;
  border-radius: 10px;
  margin: 50px auto;
  padding: 100px;
}

.profile-form-container {
  width: 100%;
  padding: 15px;
  margin: auto 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 25px;
  color: #282c34;
}

.profile-form-container input[type=text]{
  width: 80%;
  height: 60%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 14px;
}

.profile-form-container input[type=text]:focus {
  outline: none;
  background-color: #ddd;
}

.profile-image-container {
  width: 80%;
  padding: 15px;
  margin: auto 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  border-radius: 25px;
  color: #282c34;
}

.profile-image-container img {
  min-width: 100%;
  min-height: 100%;
}

.row {
  display: flex;
}

.signin-form {
  background: linear-gradient(45deg, rgb(25, 24, 24), 60%, #1ed760);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.signin-login-text {
  color: #000;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}
